<div class="propertyContainer">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Property</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Height</th>
        <td>
          <input type="number" [(ngModel)]="model.properties.height" class="form-control">
        </td>
        <td>
          <div class="container">
            <label class="label">Pixels
              <input type="radio" name="heightUnit2" value="px" [(ngModel)]="model.properties.heightUnit" /> 
              <span class="radio"></span>
            </label>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="container">
              <label class="label">Percentage
                <input type="radio" name="heightUnit2" value="%" [(ngModel)]="model.properties.heightUnit" /> 
                <span class="radio"></span>
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Width</th>
        <td>
          <input type="number" [(ngModel)]="model.properties.width" class="form-control">
        </td>
        <td>
          <div class="container">
            <label class="label">Pixels
              <input type="radio" name="widthUnit2" value="px" [(ngModel)]="model.properties.widthUnit" /> 
              <span class="radio"></span>
            </label>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="container">
              <label class="label">Percentage
                <input type="radio" name="widthUnit2" value="%" [(ngModel)]="model.properties.widthUnit" /> 
                <span class="radio"></span>
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Align</th>
        <td>
          <select class="form-control inputBox" [(ngModel)]="model.properties.align">
            <option value="15%">Left</option>
            <option value="50%">Center</option>
            <option value="85%">Right</option>
          </select>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Color</th>
        <td>
          <div>
            <input class="colorInputBox" type="color" [(ngModel)]="model.properties.color" class="form-control colorInputBox">
          </div>
        </td>
        <td></td><td></td>
      </tr>
    </tbody>
  </table>

  <div class="buttonContainer">
    <h4>Preview:</h4>
    <div class="border">
      <div class="row">
        <div class="vr" [ngStyle]="{
                                      'background-color' : model.properties.color, 
                                      'height' : model.properties.heightUnit === 'px' ? model.properties.height + 'px' : model.properties.height + '%',
                                      'width' : model.properties.widthUnit === 'px' ? model.properties.width + 'px' : model.properties.width + '%',
                                      'left': model.properties.align
                                    }"
        >
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
  