<div class="shadow dw-columns">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-dark btn-icon float-right" ngbTooltip="Delete" (click)="delete(model)">
        <i class="fa fa-trash"></i>
      </button>
      <button type="button" class="btn btn-dark btn-icon float-right" ngbTooltip="Properties" (click)="edit(model)">
        <i class="fa fa-edit"></i>
      </button>
      <button type="button" class="btn btn-dark btn-icon float-right" ngbTooltip="Add a column" (click)="add(model)">
        <i class="fa fa-folder-plus"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col dw-column" *ngFor="let item of model.children">
      <dwcolumn-item [model]="item" [template]="template" (deleteRequest)="delete(item)" (editRequest)="edit(item)"
        (logRequest)="log($event)"></dwcolumn-item>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-6">
      <ngx-dnd-container dropZone="builder-target" [model]="model.children1" [removeOnSpill]="false" [template]="template"
        [droppableItemClass]="droppableItemClass" (drag)="log($event)" (drop)="log($event)" (over)="log($event)" (out)="log($event)"
        (remove)="log($event)" (cancel)="log($event)">
      </ngx-dnd-container>
    </div>
    <div class="col-md-6">
      <ngx-dnd-container dropZone="builder-target" [model]="model.children2" [removeOnSpill]="false" [template]="template"
        [droppableItemClass]="droppableItemClass" (drag)="log($event)" (drop)="log($event)" (over)="log($event)" (out)="log($event)"
        (remove)="log($event)" (cancel)="log($event)">
      </ngx-dnd-container>
    </div>
  </div> -->

</div>