@import '../../dwmulti-choice/dwmulti-choice.component.scss';


.rowContainer {
    line-height: 35px; 
    padding: 20px 10px 10px 10px;
}

.border {
    border-style: dotted;
}

.imageContainer {
    overflow-x: hidden;
}

.icon {
    font-size: 150px;
}
