<div class="card">
  <div class="card-header" *ngIf="field.templateOptions.originalFieldOptions.displayLabel">
    {{ field.templateOptions.originalFieldOptions.label }}
  </div>
  <div class="card-body">
    <div class="row" *ngIf="field.templateOptions.originalFieldOptions.description">
      <div class="col-md-12 description">
        {{ field.templateOptions.originalFieldOptions.description }}
      </div>
    </div>
    <div *ngIf="loadForm">
      <formly-form [form]="form1" [model]="model" [fields]="fields" [options]="options" >
      </formly-form>
    </div>
  </div>
</div>