<div class="row">
  <div class="col-md-12" [ngStyle]="{ 'text-align': fieldOptions.alignment }" style="width: 100%;">
    <img [src]="fieldOptions.imageUrl" [style.height.%]="fieldOptions.height" [style.width.%]="fieldOptions.width" *ngIf="fieldOptions.imageUrl && fieldOptions.percentage">

    <img [src]="fieldOptions.imageUrl" [height]="fieldOptions.height" [width]="fieldOptions.width" *ngIf="fieldOptions.imageUrl && !fieldOptions.percentage">

    <i class="fa fa-image icon" *ngIf="!fieldOptions.imageUrl" ></i>
  </div>
</div>